# Database
DATABASE_NAME="first-read"
DATABASE_USER="first-read"
DATABASE_PASSWORD="top-secret:)"
DATABASE_PORT="5432"
DATABASE_URL="postgresql://first-read:top-secret:)@localhost:5432/first-read?schema=public"



# NextAuth
NEXTAUTH_SECRET="your-nextauth-secret-key-here"
NEXTAUTH_URL="http://localhost:3000"

NEXT_PUBLIC_APP_ENV="developemnt"

GEMINI_API_KEY=your-google-api-key-here

