# Database
DATABASE_NAME="first-read"
DATABASE_USER="first-read"
DATABASE_PASSWORD="top-secret:)"
DATABASE_PORT="5432"
DATABASE_URL="postgresql://first-read:top-secret:)@localhost:5432/first-read?schema=public"

